# Peertool
## Arma Reforger Core
core
## Arma Reforger Project's resourceDatabase.rdb
resourceDatabase.rdb
## EnfusionDatabaseFramework
## license

## worlds dir
worlds
.github
# Prerequisites
*.d
tests
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp
docs
# Precompiled Headers
*.gch
*.pch
WorkbenchGame
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
